= @reply_chain.each_reply do |reply|
  .tweet
    %p
      = link_to "http://twitter.com/#{reply.screen_name}", reply.author, :class => 'author'
      = tweet_linkify(reply.text)
    %p.meta
      = link_to reply.original_tweet, reply.friendly_time
