= @reply_chain.each_reply do |reply|
  %p
    = link_to "http://twitter.com/#{reply.screen_name}", reply.author, :class => 'author'
    = tweet_linkify(reply.text)
  %p.time
    = reply.friendly_time
